/* Print layout: */  

body {
	margin: 0 auto;
	padding: 0;
	font-family: "Times New Roman", Serif;
	background: #fff;
	color: #000;
}
#wrap {
	margin: 2%;
	width: auto;
	float: none !important;
}
#header h1 {
	margin: 0 0 10px;
}
#frontphoto, #avmenu ul, #extras, .announce, .hide {
	display: none;
}
#content img {
	display: none;
}
a {
	text-decoration: underline;
	color: #00F;
}