body {
	color: #fff;
	background: #666;
	padding: 0;
	margin: 0;
	font: 8pt Arial, Helvetica, sans-serif;
}
#primary {
	float: left;
	width: 520px;
	margin-right: 11px;
}
#secondary {
	width: 200px;
}
#wrapper {
	text-align: left;
	border: 0 none;
	width: 740px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	clear: both;
	padding-top: 0;
	margin-bottom: 30px;
}
#side-a {
	float: left;
}
#side-b {
	float: right;
	width: 200px;
}
#wrappermain {
	text-align: left;
	margin: 0 auto;
	padding: 0;
	border: 0 none;
	width: 100%;
}
#side-a-main {
	float: left;
}
#side-b-main {
	margin: 0;
	float: right;
	height: 1%;
}
#footermain {
	clear: both;
	background: #A2A2A2;
}
#header {
	height: 100px;
	padding: 10px;
	align: center;
	background: url('images/bg-gradient.png') repeat-x;
}
#header-wrap {
	width: 760px;
	display: block;
	clear: both;
}
#header-container {
	width: 750px;
	display: block;
	clear: both;
}
#header .header-l {
	float: left;
	width: 260px;
}
#header .header-r {
	floar: right;
	margin-right: 15px;
}
#banner {
	display: block;
	float: left;
	clear: both;
	margin-left: 15px;
}
#head {
	clear: both;
}
.site-name, .site-name a, .site-name a:hover, .site-name a:visited, .site-name a:active, .site-name a:link {
	color: #fff;
	text-align: left;
	padding: 2px;
	border-bottom-style: none;
	background: transparent;
	font: 20px Arial, Helvetica, sans-serif;
}

/*
--------------------------------------------------
Primary Content
--------------------------------------------------
*/

.more {
	letter-spacing: .1em;
	text-indent: 0;
	text-transform: lowercase;
	padding-left: 15px;
	font: small-caps 13px Georgia, "Times New Roman", Times, sans-serif;
}
.more a:link {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.more a:visited {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.more a:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.more a:active {
	color: #fff;
	border-bottom: 1px solid #fff;
}
	
/*  H1 CONTROLS MAIN NODE TITLES AND HOVERS */

h1 {
	clear: left;
	color: #cf3;
	margin-bottom: 0.6em;
	font-size: 20px;
}
h1 a:link, h1 a:visited {
	color: #cf3;
	text-decoration: none;
	border: none;
}
h1 a:hover {
	color: #cf3;
	text-decoration: none;
}

/*  H2 USED ON NODE "POST COMMENTS" SECTION */

h2 {
	color: #cf3;
	font-size: 20px;
}
.box h2, .title h2 {
	color: #cf3;
	font-size: 20px;
}

/*  H3 USED ONLY ON SITEMENU PAGE. DRUPAL SITEMENU MODULE NEEDED */

h3 {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: #cf3;
	padding-bottom: .2em;
	margin: 1em 0;
}

/*  H4 USED WITHIN NODE FOOTER, LIKE "POSTED BY," ETC.  */

h4 {
	clear: both;
	font-size: .8em;
	font-weight: normal;
	text-transform: lowercase;
	padding: .2em 0 .3em;
	margin: 2em 0;
}

/*  H5 USED WITHIN NODE CONTENT LAYOUT  */

h5 {
	font-size: 1.3em;
	font-weight: bold;
	color: #414141;
	margin: 10px 3px;
}

/*  H6 CONTROLS PAGE FOOTER STYLES  */

#footer {
	text-align: left;
	color: #ccc;
	clear: both;
	border-top: 5px solid #9f3;
	font: 10px/1.5em Verdana, Arial;
	padding: 1em 0 1em 15px;
}
p {
	margin: 12px 3px;
	font-size: 13px;
}
a:link, a:visited {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: underline;
}
em, cite {
	font-style: italic;
}
strong {
	font-weight: bold;
}
blockquote, pre {
	border-left: 5px solid #6B6A6A;
	padding: 0 10px;
	margin: 25px;
	font-size: 12px;
	color: #696969;
	text-align: left;
}
code {
	color: #933;
	font-family: Monaco, "Courier New", Courier, monospace;
}
code {
	font-size: .85em;
}
ul, ol {
	padding: 0;
}
ul {
	list-style-type: none;
}
ul li {
	background-position: 2px .5em;
	background-repeat: no-repeat;
}
.tabs ul li {
	padding-left: 0;
}
.tabs ul li a {
	color: #000;
}
li {
	margin: 0;
}
#primary li {
	margin: 0 20px 5px 10px;
}
img {
	display: inline;
	padding: 0;
	border: 0 none;
}
form {
	margin: 0;
}
form p {
	text-indent: 0;
}
fieldset {
	display: block;
}
input {
	display: inline;
	vertical-align: middle;
}

/* print-fixes */
@media print {
  a.xml-icon,
  a.feed-icon {
  display: none;
  }
}

td, th, td a:link, td a:hover, td a:active, td a:visited {
	color: #999;
	padding: 8px;
}
table {
	margin-bottom: 10px;
}

/* For Admin-pages */
tr.watchdog-notice td, 
tr.watchdog-warning td, 
tr.watchdog-error td {
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 7px;
}

/* Fix forms wrapping under the sidebars */
.node-form .standard,
.profile,
.form-item,
img .image preview,
#tracker,
#system_theme_settings {
	width: 95%;
	clear: none;
}

.description {
	width: 375px;
}

div.form-item {
	width: 95%;
}

div.table {
	width: 95%;
}

.form-item label {
	font-size: 1em;
}

.form-item .textarea {
	width: 95%;
	border: 1px solid #999999;
	margin-top: 0.5em;
}

.form-item .form-text {
	width: 95%;
	border: 1px solid #999999;
	margin-top: 0.5em;
}

/* Fix some login-form-thingies */
#user-login-form .item-list ul {
	padding-to p: 4px;
}

#user-login-form .item-list ul li {
	list-style: square;
	font-size: 1em;
}

/* fixes the sidebars
  ------------------------------ */

/* links */
.info {
	text-align: right;
	font-size: 0.75em;
}

.info a {
	text-decoration: none;
}

.info a:hover {
	text-decoration: underline;
}

/* Some styling for messages */
.error {
	border: 1px solid #f0000c;
	padding: 5px;
	background: #FFCCCE;
	color: #000;
}
.error a, .error a:visited {
	color: #000;
}
.status {
	border: 1px solid #00CC00;
	padding: 5px;
	background: #CCFFCC;
	color: #000;
}

.block-region {
	color: #000;
}

/* workarounds and hacks */
table {
	border-collapse: collapse;
}

.resizable-textarea,
.form-textarea,
#edit-comment,
#edit-subject,
#edit-site_mission,
#edit-site_footer,
#watchdog_form_overview {
	width: 95%;
	display: inline;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html #wrap #avmenu .announce{
	width: 130px;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* End hide from IE-mac */

/*
** Menu style override
*/
.menu {
	padding: 0;
}

li.expanded, li.collapsed, li.leaf, .item-list ul li	{
	background-position: 2px .5em;
	background-repeat: no-repeat;
 	list-style-type : none;
	/* list-style-image: url('none'); */
	margin: 0; padding-left:8px; padding-right:0.5em; padding-top:0.2em; padding-bottom:0
}

.item-list ul li {
	/* background-image: url('images/bullet.gif'); */
}

td.menu-disabled {
	background: #ccc;
}

#bar { 
	display: block;
	float: right;
	font-weight: bold;
	font-size: 1.1em;
	color: #FFFFFF;
	margin: 20px 0 15px 0; 
}
#bar p {
	float: left;
	margin: 7px 0px 5px 12px;
	font-size: 0.83em;
	color: #FFFFFF;
	background: #0099CC;
	text-align: left;
}
#bar ul {
	display: block;
	float: left;
	margin: 0; 
	padding : 0;
	list-style : none;
}
#bar li { 
	display: block;
	float: left; 
	margin-left: 8px; 
	padding: 0;
	background: transparent;
}
#bar li a {
	font-size: 0.83em;
	display: block;
	padding: 7px 12px 7px 12px;
	font-weight: bold;
	color: #FFF; 
	background: inherit;
	text-decoration: none;
	border: solid 1px #66FF33;
}
#bar li a:hover {
	border: solid 1px #ffcc99;
}
#bar li .active, #bar li.active a  {
	display: block;
	color: #FFFFFF; 
	font-weight: bold;
	margin: 0; 
}
#bar a.active:hover {
	color: #FFFFFF;
}
#search_bar {
	font-size: 0.83em;
	display: block;
	float: left;
	color: #808080;
	font-weight: bold;
	margin: 8px 8px 0;
}
#search_bar p {
	float: left;
	margin: 4px 0 0 0;
	text-align: left;
}
#search_box {
	display: block;
	float: right;
	clear: both;
}
#search_box p {
	float: left;
	margin: 8px 0px 10px 11px;
	text-align: left;
	font-weight: bold;
}
#search_box .form-text {
	display: block;
	float: left;
	width: 100px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#search_box .form-submit {
	display: block;
	float: left;
	background: #0099cc;
	border: 0px none;
	width: 65px;  
	height: 24px;
	color: #FFF;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 1em;
	font-family: Arial, Sans-Serif;
	margin-left: 4px;
	margin-right: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 4px;
	padding-bottom: 4px
}

#side-b-main .block .roundcont {
	width: 250px;
	background-color: #999;
	color: #fff;
}

#side-b-main .block .roundcont h1 {
	margin: 0 10px;
}

#side-b-main .block .roundcont p {
	margin: 0 10px;
}

#side-b-main .block .roundtop { 
	background: url('images/block-central-tr.gif') no-repeat top right; 
}

#side-b-main .block .roundbottom {
	background: url('images/block-central-br.gif') no-repeat top right; 
}

#side-b-main .block img.corner {
   width: 15px;
   height: 15px;
   border: none;
   display: block !important;
}